SECRET_KEY=change-me
DEBUG=True
DB_ENGINE=sqlite
# Для PostgreSQL:
# DB_ENGINE=postgres
# DB_NAME=warehouse_db
# DB_USER=postgres
# DB_PASSWORD=postgres
# DB_HOST=localhost
# DB_PORT=5432
API_URL=http://127.0.0.1:8000
